<p id="notice"><%= notice %></p>


  <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-md-offset-1">
         
<h1>Questions</h1>


    <% @questions.each do |question| %>
      
        <p class="question"><%= question.question %>  <%= link_to 'Show', question %></p>

        <%= link_to  'Like', like_question_path(:id => question) , method: :put%>(<%=question.get_upvotes.size%>)
<%= link_to 'Dislike', dislike_question_path(:id => question) , method: :put%>(<%=question.get_downvotes.size%>)


        
           <%=  render partial: 'answers', locals: {question: question} %>
          <hr>
        <%#= link_to 'Edit', edit_question_path(question) %>
        
        <!-- <td><%= question.featured %></td>
        <td><%#= link_to 'Show', question %></td>
        <td><%#= link_to 'Edit', edit_question_path(question) %></td>
        <td><%#= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  -->    
    <% end %>
 
</div>

<%#= link_to 'New Question', new_question_path %>
