<p id="notice"><%= notice %></p>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
 
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="pull-left">
                <a href="#">
                    <img class="media-object img-circle" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                </a>
            </div>
            <h4><a href="#" style="text-decoration:none;"><strong>John Doe</strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> 42 minutes ago</i></a></small></small></h4>

           <div class="pull-right"><%= link_to 'Edit', edit_question_path(@question) %> | <%= link_to 'Back', questions_path %></div>
            <div class="post-content">
                 <h3><strong><%= @question.question %></strong></h3>
            </div>
            <hr>
            
          
           
            <div>
                <div class="pull-right btn-group-xs">

                    <button class="btn btn-default btn-xs"><i class="fa fa-heart" aria-hidden="true"></i>    <%= link_to  'Like', like_question_path(:id => @question) , method: :put%>(<%=@question.get_upvotes.size%>) </button>

                     <button class="btn btn-default btn-xs"><i class="fa fa-heart" aria-hidden="true"></i>   <%= link_to 'Dislike', dislike_question_path(:id => @question) , method: :put%>(<%=@question.get_downvotes.size%>) </button>

                </div>
               
                <br>
            </div>
          
            <div>
                 <%=  render partial: 'answers', locals: {question: @question} %>  
               
            </div>
            <div class="media">
               
                <div class="media-body">
                   <%=  render partial: 'formanswer', locals: {question: @question} %>
                </div>
            </div>
        </div>
    </div>
</div>





 





